@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}


.btn {
    @apply bg-primary-500 text-on-primary-token;
}

.input {
	@apply bg-white;
}

.input[type="range"]{
	@apply accent-primary-500;
}